.footer-copyright {
  color: #b1aca1;
}

footer {
  background-color: #222222;

  .hr {
    height: 2px;
    background: #fff;
    display: block;
  }
}

.fa-facebook-square, .fa-twitter, .fa-line {
  color: #b1aca1;
  font-size: 50px;
  padding: 10px;
}

.fa-facebook-square:hover {
  color: #3B5998
}

.fa-twitter:hover {
  color: #1DA1F2
}

.fa-line:hover {
  color: #00c300;
}
