footer {
  width: 100vw;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  z-index: 1030;
  .hr {
    height: 2px;
    background: #fff;
    display: block;
  }
}

.footer-copyright {
  color: #b1aca1;
  @media screen and (max-width: $bp-width-sp-small){
     font-size: 11px;
  }
}
