.history-search-box {
    position: relative;
    z-index: 1000;
    min-width: 260px;
    margin-bottom: 36px;
    .history-search-text {
        padding-left: 20px;
        background: #FDB0A8;
        border-radius: 10px;
        @include placeholder(#4960FA);
        font-weight: normal;
        font-size: 17px;
        //スマホ small
        width: 260px;
        height: 47px;
        //スマホ large, タブレット, PC
        @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
            width: 335px;
            height: 58px;
        }
    }
    .history-search-btn {
        position: absolute;
        background: #4960F9;
        border-radius: 10px;
        font-family: FontAwesome;
        color: #FFFFFF;
        //スマホ small
        top: 5px;
        right: 5px;
        width: 38px;
        height: 38px;
        //スマホ large, タブレット, PC
        @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
            top: 7px;
            right: 7px;
            width: 45px;
            height: 45px;
        }
    }
}

ul.history-card-list {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  li.history-card-list-item {
    list-style-type: none;
    background: #fff;
    user-select: none;
    height: auto;
    //スマホ small
    width: 260px;
    //スマホ large, タブレット, PC
    @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
        width: 335px;
    }
    border-radius: 10px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 23px #FF9B91;
    .history-card-debayashi-img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        position: relative;
        img {
            border-radius: 5px;
        }
        .size-based-on-width,.card-artwork-img-resize-default {
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .size-based-on-height {
          width: auto;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .history-card-debayashi-alt-img {
            border-radius: 5px;
            background: #919191;
            width: 100%;
            height: 100%;
        }
    }

    .history-card-debayashi-info {
        width: 60%;
        >p {
            word-break: break-all;
          }
        .history-card-item-comedian-group-name {
            font-weight: bold;
            margin-bottom: 8px;
        }
        .history-card-item-debayashi-name {
            margin-bottom: 4px;
        }
        >p:last-child {
            margin: 0;
        }
    }

    .history-card-preview-area-base {
        position: relative;
        .history-card-preview-area {
          position: absolute;
          top: 0;
          left: 0;
          user-select: none;
          width: 100%;
          height: 100%;
          .history-card-preview-control {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          .history-card-icon-base-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(45, 45, 45, 0.7);
            .history-card-preview-control-icon {
              position: absolute;
              top: 50%;
              left: 50%;
              color: white;
              font-size: 14px;
              transform: translate(-50%, -50%);
            }
            .fa-play {
              transform: translate(-36%, -50%);
            }
          }
        }
      }
  }
}
ul.history-paging-btn-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: calc(40px + #{$f-height});
  text-align: justify;
  height: 50px;
  li {
    display: inline-block;
    color: #fff;
  }
}
ul.history-paging-btn-list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

.history-paging-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: $body-bg;
  box-shadow: 0 0 23px #FF9B91;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.history-paging-btn.btn-inactive {
  background: #919191;
}

.history-not-exists-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}
.history-not-exists-msg {
  margin-top: 130px;
  height: 90px;
  p {
    text-align: center;
    font-weight: Bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $body-bg;
  }
}
.history-not-exists-img-microphone {
  display: block;
  height: 290px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}