.logo-img {
  display: block;
  //スマホ small
  width: 160px;
  margin: 15px auto 20px;
  //スマホ large
  @media screen and (min-width: $bp-width-sp-small) {
    width: 200px;
    margin: 30px auto 20px;
  }
  //タブレット, PC
  @media screen and (min-width: $bp-width-sp-large){
    width: 259px;
    margin: 62px auto 30px;
  }
}