@mixin placeholder($color) {
  &::placeholder {
    color: $color;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 31px;
    // font: Medium 18px/31px YuGothic;
    opacity: 0.7;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}