.notfound {
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font: Bold 30px/42px YuGothic;
}

.return-btn {
  background: #FFD3CF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0;
  color: #4960FA;
  opacity: 1;
}
