.keyword-header {
  animation:
    keyword-display 500ms ease-in-out 0ms 1 normal backwards running,
    keyword-up 1000ms ease-in-out 600ms 1 normal backwards running,
}

.search-result-card {
  animation:
  card-up 1000ms ease-in-out 600ms 1 normal backwards running,
}
@keyframes keyword-display {
  0% {
    opacity: 1;
    transform: translateY(calc(50vh - 50%));
  }
}

@keyframes keyword-up {
  0% {
    transform: translateY(calc(50vh - 50%));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes card-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}