  .search-keyword {
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    width: 303px;
    padding-top: 50px;
    margin: 0 auto 30px;
    position: relative;
    font-weight: Bold;
    font-size: 20px;
    line-height: 35px;
    word-break: break-all;
    .keyword-header{
      .keyword {
        font-size: 30px;
      }
    }
  }

  .search-result-card {
    background: #FFD3CF 0% 0% no-repeat padding-box;
    border-radius: 30px 30px 0px 0px;
    padding-top: 60px;
    margin: 0 auto 0;
    padding-bottom: 60px;
    text-align: center;
    //スマホ small
    width: 100vw;
    height: auto;
    //スマホlarge, タブレット, PC
    @media screen and (min-width: $bp-width-sp-large){
      width: 375px;
      left: calc(50% - ((375/2) * 1px));
    }
    .debayashi-info {
      width: 303px;
      text-align: center;
      color: #4960FA ;
      font-weight: Bold;
      font-size: 23px;
      line-height: 35px;
      margin: 0 auto;
      >p {
        word-break: break-all;
      }
      .debayashi-img {
        width: 174px;
        height: 174px;
        margin: 0 auto 26px;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
        .alt-desc {
          border: 1px solid blue;
          width: 100%;
          height: 100%;
          p {
            opacity: 0.5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform : translate(-50%,-50%);
          }
        }
      }
      p {
        margin-bottom: 13px;
      }
      .debayashi-name {
        font-size: 30px;
      }
      .artist-name {
        font-size: 23px;
      }
    }
  }

  .notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    p {
      text-align: center;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
      font-weight: Bold;
      font-size: 30px;
      line-height: 42px;
    }
    .return-btn {
      display:block;
      width: 303px;
      height: 58px;
      background: #FFD3CF 0% 0% no-repeat padding-box;
      border-radius: 10px;
      text-align: center;
      font-weight: Bold;
      font-size: 18px;
      line-height: 58px;
      color: #4960FA;
      margin: 70px auto 0;
    }
    a:hover {
      opacity: 0.8;
      color: #1F28CF;
      text-decoration: none;
    }
  }

  .link-area {
    text-align: center;
  }
  .link-btn {
    display: inline-block;
    width: 303px;
    height: 58px;
    padding: 8px 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: 5px auto;
    cursor: pointer;
  }
  .link-btn:hover {
    opacity: 0.7;
  }
  .apple-logo {
    width: 139px;
  }
  .spotify-logo {
    width: 145px;
  }

  .return-btn-blue {
    display:block;
    width: 303px;
    height: 58px;
    background: #4960FA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    font-weight: Bold;
    font-size: 18px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 auto;
  }

  a:hover {
    opacity: 0.8;
    color: black;
    text-decoration: none;
  }

  .share-item {
    display:  inline-block;
  }
  .share-area {
    display: block;
    margin: 15px auto;
    span {
      font-weight: Bold;
      font-size: 15px;
      line-height: 26px;
      color: #4960FA;
      margin-right: 25px;
    }
    a {
      background: #4960FA;
      text-align: center;
      text-decoration: none;
      font: 400 20px/38px fontawesome;
      color:#fff;
      display: inline-block;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      margin:0 2px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .ground-on-bottom {
    position: absolute;
    bottom: 0;
  }
