.search-result {
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  width: 375px;
  margin: 50px auto 30px;
  position: relative;
  font: Bold 20px/35px YuGothic;
  .result-header{
    width: 100%;
    .keyword {
      font-size: 30px;
    }
  }
}

.search-result-card {
  position: absolute;
  bottom: 0;
  background: #FFD3CF 0% 0% no-repeat padding-box;
  border-radius: 30px 30px 0px 0px;
  opacity: 1;
  width: 375px;
  height: 666px;
  display: block;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  .debayashi-info {
    width: 100%;
    text-align: center;
    color: #4960FA ;
    font: Bold 23px/35px YuGothic;
    .debayashi-img {
      border: 1px solid blue;
      width: 174px;
      height: 174px;
      margin: 0 auto 26px;
      position: relative;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform : translate(-50%,-50%);
        opacity: 0.5;
      }
    }
    p {
      margin-bottom: 13px;
    }
    .debayashi-name {
      font-size: 30px;
    }
    .artist-name {
      font-size: 23px;
    }
  }
}

.notfound {
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font: Bold 30px/42px YuGothic;
}

.link-area {
  text-align: center;
}
a {
  text-decoration: none;
}
.link-btn {
  display: inline-block;
  width: 303px;
  height: 58px;
  padding: 8px 24px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin: 5px auto;
  cursor: pointer;
}
.link-btn:hover {
  opacity: 0.7;
}
.apple-logo {
  width: 139px;
}
.spotify-logo {
  width: 145px;
}

.return-btn {
  background: #FFD3CF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0;
  color: #4960FA;
  opacity: 1;
}

.return-btn-blue {
  display:block;
  width: 303px;
  height: 58px;
  background: #4960FA 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  font: Bold 18px/58px YuGothic;
  color: #FFFFFF;
  margin: 0 auto;
}

.share-item {
  display:  inline-block;
}
.share-area {
  display: block;
  margin: 15px auto;
  span {
    font: Bold 15px/26px YuGothic;
    color: #4960FA;
    margin-right: 25px;
  }
  a {
    background: #4960FA;
    text-align: center;
    text-decoration: none;
    font: 400 20px/38px fontawesome;
    color:#fff;
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin:0 2px;
    -webkit-font-smoothing: antialiased;
  }
  a:nth-of-type(1):before { //Twitter
    content:'\f099';
  }
  a:nth-of-type(2):before { //Facebook
    content:'\f09a';
  }
  a:nth-of-type(3):before { //LINE
    content:'\f3c0';
  }
}