// Body
$body-bg: #4960FA;

// Typography
$font-family-sawarabi: 'noto sans JP', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// BreakPoint Width
$bp-width-sp-small: 360px; //iPhone SE
$bp-width-sp-large: 560px;
// BreakPoint Height
$bp-height-sp-large: 635px; //iPhoneX safari

// Footer Height
$f-height: 70px;