// Fonts
@import url(https://fonts.googleapis.com/css?family=Sawarabi+Gothic);

//FontAwesome
@import url(//use.fontawesome.com/releases/v5.0.11/css/all.css);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'placeholder';

@import 'top';
@import 'logo';
@import 'comedian';
@import 'top-animation';

@import 'search';
@import 'search-animation';
@import 'footer';

@import 'history';
@import 'ranking';

@import 'only_mobile';

@import 'ui-common';

html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
  display: table;
  user-select: none;
}

body {
  font-family: $font-family-sawarabi;
	min-height: 100vh;
  // height: 100%;
  margin: 0 auto;
  padding: 0;
}

.body-bg-custom-pink {
  background: #FED3CF;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
}

.content-wrapper {
  height: 100%;
  padding: 36px 20px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

a {
  text-decoration: none;
}
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3 {
  width: 100%;
}

.c1 {
  width: 60%;
  -webkit-order: 2;
  order: 2;
}

.c2 {
  width: 40%;
  -webkit-order: 1;
  order: 1;
}

.c3 {
  width: 100%;
  -webkit-order: 3;
  order: 3;
}
