.error-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.error-message-for-other-sp {
  margin: 60px auto;
  height: 310px;
  p {
    text-align: center;
    font-weight: Bold;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    color: #fff;
  }
  .error-code {
    color: #a3a3a3;
    font-size: 100px;
    line-height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.error-img-for-other-sp {
  .error-img {
    margin: 0 auto;
    display: block;
  }
  .error-img-question {
    margin-bottom: 50px;
    max-width: 120px;
  }
  .error-img-microphone {
    max-height: 350px;
  }
}