.top-page-wrapper {
  position: absolute;
  height :100%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  p.font-white {
    text-align: center;
    color: #FFFFFF;
    //スマホ small
    font-weight: Bold;
    font-size: 15px;
    line-height: 31px;
    //スマホ large, タブレット, PC
    @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
      font-size: 18px;
    }
  }
  .top-form-group {
    flex: 1;
    //スマホ small
    max-height: 80px;
    //スマホ large, タブレット, PC
    @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
      max-height: 120px;
    }
    form {
      text-align: center;
    }
  }
}
.search-box {
  position: relative;
  z-index: 1000;
  display: inline-block;
  .search-text {
    padding-left: 20px;
    background: #FFD3CF;
    border-radius: 10px;
    @include placeholder(#4960FA);
    font-weight: normal;
    font-size: 15px;
    //スマホ small
    width: 260px;
    height: $search-form-height-sp-small;
    //スマホ large, タブレット, PC
    @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
      width: 303px;
      height: $search-form-height-sp-large;
    }
  }
  .search-text:focus {
    appearance: none;
    box-shadow: 0px 0px 20px #1F28CF;
  }
  .search-btn {
    position: absolute;
    background: #1F28CF;
    border-radius: 10px;
    font-family: FontAwesome;
    color: #FFFFFF;
    //スマホ small
    top: 5px;
    right: 5px;
    width: 38px;
    height: 38px;
    //スマホ large, タブレット, PC
    @media screen and (min-width: $bp-width-sp-small) and (min-height: $bp-height-sp-large) {
      top: 7px;
      right: 7px;
      width: 45px;
      height: 45px;
    }
  }
}
