.top-logo-group.top-animation {
    animation:
    logo-display 2000ms ease 0ms 1 normal backwards running,
    logo-up 2000ms ease 2000ms 1 normal backwards running;
}
.top-form-group.top-animation {
    animation:
    form-display-for-sp-mall 2000ms ease 0ms 1 normal backwards running,
    form-up-for-sp-mall 2000ms ease 2000ms 1 normal backwards running;
    //PC
    @media screen and (min-width: $bp-width-pc){
      animation:
        form-display-for-pc 2000ms ease 0ms 1 normal backwards running,
        form-up-for-pc 2000ms ease 2000ms 1 normal backwards running;
    }
}
.female-img.top-animation,
.microphone-img.top-animation {
    animation:
    comedian-up 2000ms ease-out 2000ms 1 normal backwards running
}
.male-img.top-animation {
  animation:
    male-jump 2000ms ease-out 2000ms 1 normal backwards running;
    //PC
    @media screen and (min-width: $bp-width-pc){
      animation:
        male-jump-for-pc 2000ms ease-out 2000ms 1 normal backwards running;
    }
}
.serif.top-animation {
  animation:
    serif-display 1000ms ease 4000ms 1 normal backwards running
}

@keyframes logo-display {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes logo-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes form-display-for-sp-mall {
  0% {
    opacity: 0;
    transform: translateY(calc(50% + #{$search-form-height-sp-small}));
  }
  100% {
    opacity: 1;
    transform: translateY(calc(50% + #{$search-form-height-sp-small}));
  }
}

@keyframes form-up-for-sp-mall {
  0% {
    transform: translateY(calc(50% + #{$search-form-height-sp-small}));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes form-display-for-pc {
  0% {
    opacity: 0;
    transform: translateY(calc(50% +  ((360/2) * 1px)));
  }
  100% {
    opacity: 1;
    transform: translateY(calc(50% +  ((360/2) * 1px)));
  }
}

@keyframes form-up-for-pc {
  0% {
    transform: translateY(calc(50% +  ((360/2) * 1px)));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes comedian-up {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes male-jump {
  0% {
    transform: translateY(120%);
  }
  70% {
    transform: translateY(0%) rotate(5deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}

@keyframes male-jump-for-pc {
  0% {
    transform: translateY(120%);
  }
  70% {
    transform: translateY(0%) rotate(14deg);
  }
  100% {
    transform: translateY(0%) rotate(11deg);
  }
}

@keyframes serif-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}